#wrapper{
	background: beige;
}
#box_none{
	border:none;
	height: 0px;
	width: 0px;
	background-color: none;
}
#box_wrong{
	border: 1px black solid;
	height: 100px;
	width: 100px;
	background-color: red;
	color: white;
}
#box_right{
	border: 1px black solid;
	height: 100px;
	width: 100px;
	background-color: green;
	color: white;
}

.visible{
	visibility: visible;
}

.invisible{
	visibility: hidden;
}
